<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>种草翻译 -管理员登录</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/user_login.css') }}"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="all">
    <div class="null"></div>
    <h3>登录</h3>
    {% if tip %}
    <p style="color: red;font-size: smaller;text-align: center">{{ tip }}</p>
    {% endif %}
    <form action="" method="post">
        <div class="form-group">
            <input type="text" name="emil" class="form-control" id="exampleInputEmail1" placeholder="请输入账号">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" id="exampleInputEmail1" placeholder="请输入密码">
        </div>
        <div>
            <button type="submit" class="btn btn btn-primary btn-lg btn-block">登录</button>
        </div>
        <br>
    </form>
</div>
</body>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>