<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>种草翻译-译员须知</title>
</head>
<body>
<div style="margin: 0 auto;width: 850px">
    <h2 style="text-align: center">我是译员</h2>
    <p>首先，在做一名合格的译员之前，需要通过一个小测试，测试包含一段70个字的英译汉翻译，翻译者需要添加QQ：2370257978接收作业并在一小时内完成翻译，工作人员会在1-3个工作日审核完毕，通过后您会收到账号和密码即可进行正常翻译并会得到测试的酬劳。（需要绑定支付宝哦~）</p>
    <h4 style="color: red">1.每单多少钱？</h4>
    <p>每单的数量（英译汉）在大约70词左右。根据难度和专业每单在2元-3.5元。加急单的酬劳较高建议译员先考虑加急单的翻译。</p>
    <h4 style="color: red">2.多久我会收到钱？</h4>
    <p>我们通过支付宝给译员发放酬劳，时间是1-7个工作日。所以请译员绑定支付宝</p>
    <h4 style="color: red">3.为什么我没收到钱？</h4>
    <p>有两个原因  1.您的文章未通过审核，未通过不会给钱哦。
2.客服人员忘记发放，请及时联系上方QQ。</p>
    <h4 style="color: red">4.什么情况会不通过审核？</h4>
    <p>错误率在百分之30以上即不通过审核，不接受对审核结果的质疑。
如果译员在多次翻译中态度不认真，正确率低于65%，会暂停您的翻译权力，一周后需要再次联系客服哦。</p>
    <h4 style="color: red">5.我有问题要找客服。</h4>
    <p>无论遇到什么问题请联系客服QQ:2370257978。客服工作时间在每天早上8点至晚上9点，如有消息过多回复慢的问题请见谅。</p>
    <h4 style="color: red">5.我想加入你们可以吗？</h4>
    <p>请联系客服QQ，我们欢迎您的加入。</p>
</div>
</body>
</html>